.DS_Store
.idea
.env*
.coverage

*.pyc
*.mo

*.log*
.*.csv

*.pid
celerybeat-schedule

import/
media/
st/
node_modules/
key/

utils/management/commands/debug.py

local.py

carddav/access

carddav/data/en/collection-root/*
carddav/data/en/vcards/addressbook/*.vcf

carddav/data/ru/collection-root/*
carddav/data/ru/vcards/addressbook/*.vcf

.Radicale.cache
.Radicale.lock
.Radicale.tmp.*